@model  KariyerNET.Model.CompanySide.Company
@{
	ViewBag.Title = "Register";
}

<div class="container">
	<div class="offset-3 col-6 p-5">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<div class="form-group w-100 text-center">
				<h2>HR DANIŞMANLIK ÜYE OLMA EKRANINA HOŞGELDİNİZ</h2>
				<br />
				<span class="text-primary" style="font-weight:bold">Yeni takım arkadaşlarımı arıyorsun? Doğru yerdesin...</span>
				<br />
				<br />
			</div>
			<div class="form-group w-100">
				<span class="text-dark">Şirket Adı (*)</span>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control col-md-12", placeholder = " Şirket adınızı giriniz..." })
			</div>
			<div class="form-group w-100">
				<span class="text-dark">Logonuz (*)</span>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.TextBoxFor(a => a.LogoURL, new { @class = "form-control col-md-12", placeholder = "" })
			</div>
			<div class="form-group w-100">
				<span class="text-dark">Adres</span>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.TextBoxFor(a => a.Address, new { @class = "form-control col-md-12", placeholder = "Adres bilgilerinizi giriniz" })
			</div>

			<div class="form-group w-100">
				<span class="text-dark">Telefon</span>
				@Html.ValidationSummary(true, "İletişim bilgileri boş geçilemez.", new { @class = "text-danger" })
				@Html.TextBoxFor(a => a.Password, new { @class = "form-control col-md-12", type = "number", placeholder = "İletişim bilgilerinizi giriniz..." })
			</div>
			<div class="form-group w-100">
				<span class="text-dark">E-Mail</span>
				@Html.ValidationSummary(true, "Parola boş geçilemez...", new { @class = "text-danger" })
				@Html.TextBoxFor(a => a.Password, new { @class = "form-control col-md-12", type = "mail", placeholder = "Mailinizi giriniz..." })
			</div>

            <div class="form-group w-100">                
                @Html.ActionLink("Kayıt Ol!","Register","Company", new { @class = "btn btn-success w-100 mt-2" }) 
                @Html.ActionLink("Giriş Yap!", "Login", "Company", new { @class = "btn btn-primary w-100 mt-2" })
            </div>
		}

	</div>
</div>
