<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - HR DANISMANLIK </title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
	@*<style>
			body{
				background-color:#e6e4e4;
			}
		</style>*@
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
		<div class="container">
			<a class="navbar-brand" href="/home/index">
				<img src="~/Content/image/logo.png" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="~/Views/Home/Index.cshtml">AnaSayfa <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Dropdown
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<br /><br /><br />


	<div class="container body-content">
		@RenderBody()

		<footer class="text-center container ">
			<hr />
			@Html.ActionLink("Hakkımızda", "#", "#", new { @class = "d-inline-block col-1" })
			@Html.ActionLink("İlan Yayımla", "#", "#", new { @class = "d-inline-block col-2" })
			@Html.ActionLink("Politikalar", "#", "#", new { @class = "d-inline-block col-1" })
			@Html.ActionLink("Reklam Ver", "#", "#", new { @class = "d-inline-block col-2" })
			@Html.ActionLink("İletişim", "#", "#", new { @class = "d-inline-block col-1" })
			@Html.ActionLink("  Yardım", "#", "#", new { @class = "far fa-question-circle d-inline-block col-2" })
			<div class="col-2 d-inline-block">
				<a href="#"><i class="fab fa-twitter mr-2"  style="font-size:22px;color:black"></i></a>
				<a href="#"><i class="fab fa-facebook-square mr-2 " style="font-size:22px;color:black"></i></a>
				<a href="#"><i class="fab fa-instagram mr-2 " data-toggle="button" style="font-size:22px;color:black"></i></a>
			</div>
			<hr />
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.0.0.min.js"></script>
	<script src="~/Scripts/popper-utils.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>